# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Assets
data/*.fbx
data/*.png
data/*.jpg
data/*.bmp
data/*.psd
data/*.blend
data/*.blend1
data/*.mtl
data/*.obj
data/*.skp
data/*.tif
data/*.hdr
data/*.ini
data/*.glb
data/*.url
data/*.dae
data/*.stl
data/*.gltf
data/OptickCore.exp

build/*
